# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
ray_tracing/.vs/ray_tracing/v17/Browse.VC.opendb
ray_tracing/.vs/ray_tracing/v17/Browse.VC.db-wal
ray_tracing/.vs/ray_tracing/v17/Browse.VC.db-shm
ray_tracing/.vs/ray_tracing/v17/Browse.VC.db
ray_tracing/x64/Debug/ray_tracing.pdb
ray_tracing/ray_tracing/x64/Debug/vc143.pdb
ray_tracing/ray_tracing/x64/Debug/vc143.idb
ray_tracing/ray_tracing/x64/Debug/ray_tracing.tlog/link.write.1.tlog
ray_tracing/ray_tracing/x64/Debug/ray_tracing.tlog/link.read.1.tlog
ray_tracing/ray_tracing/x64/Debug/ray_tracing.tlog/link.command.1.tlog
ray_tracing/ray_tracing/x64/Debug/ray_tracing.tlog/CL.write.1.tlog
ray_tracing/ray_tracing/x64/Debug/ray_tracing.tlog/CL.read.1.tlog
ray_tracing/ray_tracing/x64/Debug/ray_tracing.tlog/CL.command.1.tlog
ray_tracing/ray_tracing/x64/Debug/ray_tracing.log
ray_tracing/ray_tracing/x64/Debug/ray_tracing.ilk
